
/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title


 {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.page-header-fixed .page-container {
	margin-top: 0px;
}

.dashboard-stat .details .number {
	padding-top: 25px;
	text-align: right;
	font-size: 60px;
	line-height: 36px;
	letter-spacing: -1px;
	margin-bottom: 5px;
	font-weight: 300;
}

.dashboard-stat.blue-madison .more {
	color: white;
	background-color: #4884b8;
	font-size: 14px;
	font-style:italic;
	font-weight:bold;

}
.dashboard-stat.red-intense .more {
	color: white;
	background-color: ##E35B58;
	font-size: 14px;
	font-style:italic;
	font-weight:bold;
}
.dashboard-stat.green-meadow .more {
	color: white;
	background-color: ##1bbc9b;
	font-size: 14px;
	font-style:italic;
	font-weight:bold;
}
.dashboard-stat.yellow-gold .more {
	color: white;
	background-color: ##e87e04;
	font-size: 14px;
	font-style:italic;
	font-weight:bold;
}

.portlet.box.red {
	border: 1px solid #e07163;
	border-top: 0;
	clear:none;
}

.note h4{
	font-size:30px;
	font-weight:bold;
}

.dataTables_wrapper .dataTables_filter {
	float: left;
	text-align: left;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 0.1em;
	padding: 0.0em 0em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	color: #333333 !important;
	border: 1px solid transparent;
}

.dataTables_filter .form-control {
	margin-left: 4px;
	width: 360px !important
}

.search_box{
	margin-bottom: 10px;
}

.table thead tr th{
	text-align: center;
	vertical-align: middle;
}

.table tbody tr td{
	text-align: center;
	vertical-align: middle;
}

.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.portlet.box.grey-cascade {
	border: 0px;
	border-top: 0;
}

.dataTables_scrollHeadInner{
	height: 30px;
}

.tab-content>.active {
	display: block;
	margin-top: 10px;
}

.table-scrollable {
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid #dddddd;
	margin: 10px 0 !important;
}

.modal {
	margin : 0 auto;
	overflow-y: hidden !important;
}
.modal-header h4{
	color:#000000;
	font-style: bold;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}
.modal-body h5{
	color:#000000;
	font-style: normal;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}
div#copy_models{
	width: 900px;
	height: 600px;
}
div#copy_models_dialog.modal-dialog{
	width: 900px;
}
div#copy_models_content.modal-content{
	width: 100%;
}

table#copy_models_table.table.table-bordered thead > tr > th {
	border-bottom: 0;
	color: #000000;
	font-style: normal;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

table#copy_models_table.table.table-bordered tbody > tr > td {
	border-bottom: 0;
	color: #000000;
	font-style: normal;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size:13px;
}

.dataTables_scrollHeadInner {
	width:100%;
}

#copy_models_table_wrapper > div > div:nth-child(2) > div > div.dataTables_scrollHead > div > table > thead > tr{
	color: #000000;
	font-style: normal;
	font-family: "Open Sans", sans-serif;
}

select.input-sm {
	height: 28px; 
	line-height: 28px; 
	vertical-align: middle;
	padding-top: 10px;
	margin: 0;
	padding: auto 0;
}

.btn-file > input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 23px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	direction: ltr;
	font-family: "Open Sans", sans-serif;

}
div.tagsinput {
	min-height: 35px;
	height: auto !important;
	margin: 0;
	padding: 5px 5px 0px 5px;
	overflow: auto;
}

div.tagsinput span.tag {
	background: #aaaaaa;
	color: white;
	border: 0;
	padding: 3px 6px;
	margin-top: 0;
	margin-bottom: 5px;
}

div.tagsinput span.tag a {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.fileinput .btn {
	vertical-align: middle;
	margin-left: 0px;
	width: 200px;
}

#channels_table > tbody > tr> td > div > input{
	margin-left: 30px;
}

.form .form-actions.right {
	padding-left: 0 !important;
	padding-right: 10px !important;
	text-align: right !important;
}

.fileinput .btn {
	vertical-align: middle;
	margin-left: 0px;
	width: 200px;
	height: 30px;
}
.page-sidebar.navbar-collapse {
	max-height: none !important;
	width: 150px;
	padding-right: 10px;
	background-color: #f7f7f7;
}

.page-sidebar-menu .title{
	font-size: 13px;
}

.page-content-wrapper{
	background-color: #f7f7f7;
}

.page-content-wrapper .page-content {
	margin-left: 150px;
	margin-top: 0px;
	min-height: 600px;
	padding: 25px 20px 10px 20px;
}

.panel-primary {
	border-color: #3595bd;
	height: 100px;
}

.portlet.box.blue-madison {
	border: 1px solid #7ca7cc;
	border-top: 0;
}

.fa-info-circle{
	font-size: 18px;
	padding: 5px;
	color:white;
}

.tooltip{
    display: inline;
    position: relative;
}

.popover .popover-title {
	border-radius: 0 !important;
	margin: 0 !important;
	color:black;
}

.popover .popover-content {
	color:black;
}

.glyphicon-remove{
	color:red;
}


.tagsinput{
	width: 399px !important;
}

.blue.btn .badge {
	color: #4b8df8;
	background-color: white;
	margin-left: 40px;
}

.btn .badge {
	position: absolute;
	top: -1px;
}

.btn.btn-sm.blue{

	padding-right: 30px;
	padding-top: 3px;
	text-align: center;
}

.col-wid130{
	width:130px
}
.col-wd148{
	width:148px
}
.col-wid399{
	width:399px !important;
}

.caption{
	letter-spacing: 1px;
}

.page-title{
	letter-spacing: 1px;
}

.clear-space{
	margin-top:100px !important;
}
.username{
	font-size: 10px;
	font-style: bold;
}
.dropdown-toggle{
	width:150px;
}

#login-body {
    background: url('../images/background.jpg') no-repeat center -50px;
	background-size: cover;
}

.note {
	margin: 0 0 10px 0;
	padding: 10px 30px 10px 10px;
	border-left: 5px solid #eee;
}

.grey-default{
	background-color: #f7f7f7;
	color: #666;
}

.gradeX.odd.active a.t-column{
	color:white;
	font-style: bold;
}
.gradeX.even.active a.t-column{
	color:white;
	font-style: bold;
}

#permission_table > tbody > tr.gradeX.even.active > td {
	color:white;
	font-style: bold;
	background-color: #a6c8e6;
}

#permission_table > tbody > tr.gradeX.odd.active > td {
	color:white;
	font-style: bold;
}

#list_users_table > tbody > tr.gradeX.odd.active > td {
	color:white;
	font-style: bold;
}

#list_users_table > tbody > tr.gradeX.even.active > td {
	color:white;
	font-style: bold;
	background-color: #a6c8e6;
}


#dashboard_box{
	width:540px;
}

#dashboard_box.col-md-6.col-sm-6{
	width:540px;
	margin-left: 0px;
}

#list_users_table_wrapper {
	width:98%;	
}

#list_users_table_wrapper > div > div > div.dataTables_scrollHead > div{
	width:100%	!important;
}

#list_users_table_wrapper > div > div > div.dataTables_scrollHead{
	width:100%	!important;
}

#list_users_table_wrapper > div > div > div.dataTables_scrollHead > div > table{
	width:100%	!important;
}

#list_user_content > div.portlet-body{
	width:600px;
	margin: 0 auto;
}
#list_user{
	width:700px;
}
#list_user_dialog{
	width:700px;
}

#new_user_content{
	width:750px;
	height: 368px;
	margin : 0 auto;
}

#new_color_content{
	width: 700px;
	height: 464px;
	margin : 0 auto;
}


#new_member_name{
	width:400px !important
}

#new_member_position{
	width:400px !important
}

.input-150{
	width: 150px !important;
}

.input-100{
	width: 100px !important;
}

.input-200{
	width: 200px !important;
}

.input-446{
	width: 446px !important;
}

.page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
	background: none;
	margin: 0px;
	padding: 0px;
	margin-top: 1px !important;
}

.radio-inline{
	padding: 0px 0px 4px 0px;
}

.radio{
	padding: 2px !important;
}

#restart-password{
	color: #555;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	border-bottom: 1px solid #cecece;
}	

div.modal-body > h5	{
	line-height: 200%;
}	

.age-select{
	width:50px !important;
}	

.brand-select{
	width:150px !important;
}	

.input-icon.right > .form-control {
    padding-right: 0px !important;
	padding-left: 12px;
}	

.input-icon > input{
	border-left: 2px solid #578ebe !important;
}

.input-icon > textarea{
	border-left: 2px solid #578ebe !important;
}

.date-picker{
	border-left: 2px solid #578ebe !important;
}

.select2-container{
	border-left: 2px solid #578ebe !important;
}

select{
	border-left: 2px solid #578ebe !important;
}

.form-control[readonly]{
	border-left: 2px solid #A29C9C !important;
	font-size: 18px;
	text-align: center;
}

.summary_title{
	border-bottom: 1px solid #578ebe !important;
	font-style: italic;
}

.col-popup-upload{
	width: 360px;
	float:none;
	text-align: center;
	margin: 0 auto;
}

.config-checkbox{
	padding-top: 10px !important;
}

.label-checkbox{
	text-align: left !important;
}

.report-body{
	background-color: #e5e5e5 !important;
	min-height: 400px !important;
}

.login-form-group{
	background-color: #fff;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.login .content {
	background-color: #fff;
	width: 660px;
	margin: 0 auto;
	margin-bottom: 0px;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	min-height: 260px;
	margin-top: 270px;
}

.login-panel-right{
	background-color: #fff;
	height: 200px;
	border-left: 2px solid #3fd5c0 !important;
}

.login-panel-left{
	background-color: #fff;
	height: 200px;
	background-image: url('../images/logo_temporaria.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 280px 160px;
}

.page-header-fixed .page-container {
	margin-top: 0px !important;
}

.jqplot-series-canvas{
	background-color:white;
	border: 0px;
}

.jqplot-table-legend{
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: black;
}

.jqplot-data-label{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: bold !important;
}

.display-none{
	display: none;
}

.display-show{
	display: block;
}

.report-label{
	text-align: left !important;
	font-size: 13px;
	font-style: normal;
}

.report-input{
	text-align: left !important;
}

.report-form-group{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	margin-left: -12px !important;
}

.report-portlet{
	margin-top: 0px;
	margin-bottom: -10px;
}

.report-span{
	font-size: 16px;
	font-style: italic;
}

.report-title{
	font-style: bold;
	font-size: 28px;
	padding-left: 30px;
	border-bottom: 1px solid #578ebe !important;
	text-align: center;
}


#copy_models_table > tbody > tr.gradeX.odd.active > td {
	color:white;
	font-style: bold;
}

#copy_models_table > tbody > tr.gradeX.even.active > td {
	color:white;
	font-style: bold;
	background-color: #a6c8e6;
}
#copy_models_table_wrapper {
	width:98%;	
}

#copy_models_table_wrapper > div > div > div.dataTables_scrollHead > div{
	width:100%	!important;
}

.dataTables_scrollHead{
	height: 46px;
}

#copy_models_table_wrapper > div > div > div.dataTables_scrollHead{
	width:100%	!important;
}

#copy_models_table_wrapper > div > div > div.dataTables_scrollHead > div > table{
	width:100%	!important;
}

#copy_models_content > div.portlet-body{
	width:800px;
	margin: 0 auto;
}
#copy_models{
	width:700px;
}
#copy_models_dialog{
	width:700px;
}

#copy_models_table > thead > tr > th {
	color: black;
}
#copy_models_table > tbody > tr > td {
	color:black;
}
#copy_models_content > div.modal-header > h5{
	color: #000000;
	font-style: normal;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	line-height: 200%;
}

#copy_models_table_filter > label > input{
	width:300px !important;
}


#copy_models_table_filter > select{
	width:200px !important;
	float: right;
}

.color-1, .color-2{
	width:200px;
}
	
.color-variant-square{
	width: 200px;
	height: 90px;
	border: 1px solid #ccc !important;
}

.variant-square{
	width: 50px;
	height: 50px;
	background:red;
	float:left;
}
.variant-title{
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.scroll-div{
	height: 220px;
	overflow-y: scroll;
	background: #EEE;
	padding: 0 14px;
}

.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: auto;
}

.button-line-with-border{
	padding-top:30px; 
	border-bottom:1px solid #EEE; 
	padding-bottom:15px;
}

.left-select{
	margin-left:40px
}

.attribute-head{
	border: 1px solid #EEE;
	margin-left: 0px !important;
	border-radius: 7px !important;
	padding-bottom: 14px;
	width:90%;
}
.attribute{
	border: 1px solid #EEE;
	margin-left: 15px !important;
	border-radius: 7px !important;
	width: 13%;
}

.i-right{
	float: right;
	margin-right: 6px;
}

.import-file{
	width: 210px;
	margin-left: 30px;
	margin-top: 10px;
}

.import-info{
	color:black;
}

.remove{
	cursor: pointer;
}

#plus-file1{
	cursor: pointer;
}
#plus-file2{
	cursor: pointer;
}

.config-status{
	width:140px;
	float:right;
	height: 60px;
	margin-top:34px;
	margin-bottom: 10px;
	border: 1px solid white;
	border-radius: 4px 4px 4px 4px !important;
	position: absolute;
	right: 20px;
	z-index: 1;
	color: white;
}

.config-status-visual{
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	padding-top: 8px;
	padding-left: 0px;
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 35px;
}

.config-status-info{
	padding-top: 10px;
	padding-left: 6px;
}

.config-status-value{
	font-size: 20px;
	padding-left: 0px;
}

.fixed-menu{
	position: fixed;
}

.table-dashboard-head{
	margin-bottom: 0px !important;
	background-color: white;
}

.table-dashboard-body{
	margin-top: 0px !important;
	height: 260px;
}

.import-file-input{
	width:200px;
}

.fileinput-preview{
	width: 300px !important;
	max-width: 300px !important;
}

.import-file-link{
	font-size: 10px !important;
}

.copy-product-modal{
	border-top: 0px
}

.copy-product-div{
	margin-top: 20px;
}

#copy_models_table_wrapper > div > div:nth-child(3) > div > div.dataTables_scrollHead > div > table > thead > tr{
	color:black;
}

#copy_models_table_wrapper > div > div:nth-child(3) > div > div.dataTables_scrollHead > div > table > thead > tr > th {
	width:20% !important;
}

#copy_models_table_wrapper > div > div:nth-child(3) > div > div.dataTables_scrollHead > div{
	width:100% !important;
}

#copy_models_table_wrapper > div > div:nth-child(3) > div > div.dataTables_scrollHead > div > table{
	width:96% !important;
}
#copy_models_table_filter > label > input{
	margin-left: -30px;
}


.two-state-input{
	height: 26px;
	margin-top: 2px;
	width: 50px;
}

table.dataTable.no-footer{
	border-bottom: 1px solid #dddddd;
}

table.dataTable thead th, table.dataTable thead td{
	border-top: 1px solid #dddddd;
}

.removeColumn{
	cursor: pointer;
}
th .two-states{
	min-width: 80px
}

#copy_variants_table_wrapper > div > div:nth-child(3) > div > div.dataTables_scrollHead > div > table > thead > tr > th {
	width:30% !important;
}

#copy_variants_table_wrapper > div > div:nth-child(2) > div > div.dataTables_scrollHead > div{
	width:100% !important;
}

#copy_variants_table_wrapper > div > div:nth-child(2) > div > div.dataTables_scrollHead > div > table{
	width:96% !important;
}
#copy_variants_table_filter > label > input{
	margin-left: -30px;
}

#copy_attributes_table_wrapper > div > div:nth-child(3) > div > div.dataTables_scrollHead > div > table > thead > tr > th {
	width:30% !important;
}

#copy_attributes_table_wrapper > div > div:nth-child(2) > div > div.dataTables_scrollHead > div{
	width:100% !important;
}

#copy_attributes_table_wrapper > div > div:nth-child(2) > div > div.dataTables_scrollHead > div > table{
	width:96% !important;
}
#copy_attributes_table_filter > label > input{
	margin-left: -30px;
}
.color-square{
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.color-title{
	margin-left:0px;
	padding-left:0px;
	text-align: left !important;
}

.destaque{
	border: 1px solid blue;
}


.variant-group{
	border: 2px solid #578ebe;
	width: 98%;
	margin-left: 10px !important;
	border-radius: 4px 4px 4px 4px !important;
}

.variant-table{
	border: 1px solid black;
}


.attribute-head{
	border: 1px solid #EEE;
	margin-left: 0px !important;
	border-radius: 7px !important;
	padding-bottom: 14px;
	width:90%;
}
.attribute{
	border: 1px solid #EEE;
	margin-left: 15px !important;
	border-radius: 7px !important;
	width: 13%;
}

.i-right{
	float: right;
	margin-right: 6px;
}

.item2, .item3{
	display:none;
}

.plus-attr1,.plus-attr2{
	cursor: pointer;
}

.import-file-info{
	text-align: left !important;
	font-weight: normal !important;
	margin-left: 12px;
}
